<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltmap.halobiosmaintain.mapper.work.BirdObserveMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ltmap.halobiosmaintain.entity.work.BirdObserve">
        <id column="id" property="id" />
        <result column="protec_name" property="protecName" />
        <result column="observe_date" property="observeDate" />
        <result column="weather" property="weather" />
        <result column="tem" property="tem" />
        <result column="place" property="place" />
        <result column="high" property="high" />
        <result column="observe_name" property="observeName" />
        <result column="record_name" property="recordName" />
        <result column="spline_number" property="splineNumber" />
        <result column="spline_length" property="splineLength" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="start_lon" property="startLon" />
        <result column="start_lat" property="startLat" />
        <result column="end_lon" property="endLon" />
        <result column="end_lat" property="endLat" />
        <result column="total_species" property="totalSpecies" />
        <result column="habitat_type" property="habitatType" />
        <result column="human_type" property="humanType" />
        <result column="human_intensity" property="humanIntensity" />
        <result column="threatened_factors" property="threatenedFactors" />
        <result column="byzd1" property="byzd1" />
        <result column="byzd2" property="byzd2" />
        <result column="byzd3" property="byzd3" />
    </resultMap>

    <select id="listBirdObserve" parameterType="java.lang.String" resultType="com.ltmap.halobiosmaintain.entity.work.BirdObserve">
        select a.* from bird_observe a
        <where>
            <if test="protecName!=null and protecName!=''">
                and b.protec_name like concat('%',#{protecName},'%')
            </if>
            <if test="place!=null and place!=''">
                and a.place like concat('%',#{place},'%')
            </if>
            <if test="startDate!=null and startDate.trim() neq ''">
                and date_format(a.observe_date,'%Y-%m-%d') &gt;= str_to_date(#{startDate},'%Y-%m-%d')
            </if>
            <if test="endDate!=null and endDate.trim() neq ''">
                and date_format(a.observe_date,'%Y-%m-%d') &lt;= str_to_date(#{endDate},'%Y-%m-%d')
            </if>
        </where>
    </select>
</mapper>
