<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltmap.halobiosmaintain.mapper.work.FisheggQualitativeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ltmap.halobiosmaintain.entity.work.FisheggQualitative">
        <id column="id" property="id" />
        <result column="report_id" property="reportId" />
        <result column="station_id" property="stationId" />
        <result column="monitor_date" property="monitorDate" />
        <result column="water_depth" property="waterDepth" />
        <result column="net_type" property="netType" />
        <result column="trawl_distance" property="trawlDistance" />
        <result column="trawl_time" property="trawlTime" />
        <result column="biological_chinese_name" property="biologicalChineseName" />
        <result column="biological_latin_name" property="biologicalLatinName" />
        <result column="develop_stage" property="developStage" />
        <result column="egg_radius" property="eggRadius" />
        <result column="count" property="count" />
        <result column="byzd1" property="byzd1" />
        <result column="byzd2" property="byzd2" />
        <result column="byzd3" property="byzd3" />
    </resultMap>

</mapper>
