<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltmap.halobiosmaintain.mapper.work.HydrometeorologicalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ltmap.halobiosmaintain.entity.work.Hydrometeorological">
        <id column="id" property="id" />
        <result column="report_id" property="reportId" />
        <result column="station_id" property="stationId" />
        <result column="monitor_date" property="monitorDate" />
        <result column="water_depth" property="waterDepth" />
        <result column="sampling_level" property="samplingLevel" />
        <result column="sampling_depth" property="samplingDepth" />
        <result column="watertemperature" property="watertemperature" />
        <result column="pellucidity" property="pellucidity" />
        <result column="byzd1" property="byzd1" />
        <result column="byzd2" property="byzd2" />
        <result column="byzd3" property="byzd3" />
    </resultMap>

    <select id="hydrometeorologicalRangeOneYear" parameterType="java.lang.String" resultMap="BaseResultMap">
        select a.* from hydrometeorological a
        left join monitor_data_report b on a.report_id=b.report_id
        <where>
            <if test="year!=null and year!=''">
                <![CDATA[and b.year =#{year} ]]>
            </if>
            <if test="voyage!=null and voyage!=''">
                <![CDATA[and b.voyage =#{voyage} ]]>
            </if>
        </where>
    </select>

</mapper>
