<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltmap.halobiosmaintain.mapper.work.MacrobenthosQualitativeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ltmap.halobiosmaintain.entity.work.MacrobenthosQualitative">
        <id column="id" property="id" />
        <result column="report_id" property="reportId" />
        <result column="station_id" property="stationId" />
        <result column="monitor_date" property="monitorDate" />
        <result column="net_type" property="netType" />
        <result column="net_port_density" property="netPortDensity" />
        <result column="trawl_distance" property="trawlDistance" />
        <result column="trawl_time" property="trawlTime" />
        <result column="biological_chinese_name" property="biologicalChineseName" />
        <result column="biological_latin_name" property="biologicalLatinName" />
        <result column="count" property="count" />
        <result column="density" property="density" />
        <result column="weight" property="weight" />
        <result column="biomass" property="biomass" />
        <result column="byzd1" property="byzd1" />
        <result column="byzd2" property="byzd2" />
        <result column="byzd3" property="byzd3" />
    </resultMap>

    <select id="queryBiologicalType" parameterType="java.lang.String" resultMap="BaseResultMap">
        select a.* from macrobenthos_qualitative a
        left join monitor_data_report b on a.report_id=b.report_id
        <where>
            <if test="year!=null and year!=''">
                <![CDATA[and b.year =#{year} ]]>
            </if>
            <if test="voyage!=null and voyage!=''">
                <![CDATA[and b.voyage =#{voyage} ]]>
            </if>
            <if test="stationId!=null and stationId!=''">
                <![CDATA[and a.station_id =#{stationId} ]]>
            </if>
        </where>
    </select>

    <select id="listMacrobenthosQualitative" parameterType="java.lang.String" resultType="com.ltmap.halobiosmaintain.entity.work.MacrobenthosQualitative">
        select a.*,b.station_name,b.plan_lon,b.plan_lat,b.real_lon,b.real_lat from macrobenthos_qualitative a
        left join monitor_station_info b on a.station_id=b.station_id
        <where>
            <if test="stationName!=null and stationName!=''">
                and b.station_name like concat('%',#{stationName},'%')
            </if>
            <if test="biologicalChineseName!=null and biologicalChineseName!=''">
                and a.biological_chinese_name like concat('%',#{biologicalChineseName},'%')
            </if>
            <if test="startDate!=null and startDate.trim() neq ''">
                and date_format(a.monitor_date,'%Y-%m-%d') &gt;= str_to_date(#{startDate},'%Y-%m-%d')
            </if>
            <if test="endDate!=null and endDate.trim() neq ''">
                and date_format(a.monitor_date,'%Y-%m-%d') &lt;= str_to_date(#{endDate},'%Y-%m-%d')
            </if>
            <if test="reportId!=null and reportId!=''">
                and a.report_id = #{reportId}
            </if>
        </where>
        order by a.monitor_date desc
    </select>

</mapper>
